@model Blog.ViewModels.ChangePasswordViewModel

<form asp-action="ChangePassword" class="row g-3 needs-validation" novalidate>
    <div class="col-md-12">
        <label for="oldPasswordInput" class="form-label req">Старый пароль</label>
        <input asp-for="OldPassword" class="form-control" value="@Model?.OldPassword" bs-valid id="oldPasswordInput" required>
        <div class="invalid-feedback">
            <span asp-validation-for="OldPassword"></span>
        </div>
    </div>
    <div class="col-md-12">
        <label for="newPasswordInput" class="form-label req">Новый пароль</label>
        <input asp-for="NewPassword" class="form-control" value="@Model?.NewPassword" bs-valid id="newPasswordInput" required>
        <div class="invalid-feedback">
            <span asp-validation-for="NewPassword"></span>
        </div>
    </div>
    <div class="col-md-12">
        <label for="newPasswordConfirmInput" class="form-label req">Повторите новый пароль</label>
        <input asp-for="ConfirmNewPassword" class="form-control" value="@Model?.ConfirmNewPassword" bs-valid id="newPasswordConfirmInput" required>
        <div class="invalid-feedback">
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Изменить</button>
    </div>
</form>